.page-header
	h1= title
#nav.well
	.btn-group.btn-group-justified
		a(href='/gallery').btn.btn-default.ajaxCaller
			span.glyphicon.glyphicon-list
			| See All
		a(href='/random').btn.btn-primary.ajaxCaller
			span.glyphicon.glyphicon-random
			| Random
		a(href='/tenor').btn.btn-info.ajaxCaller
			span.glyphicon.glyphicon-cloud
			| Tenor API